<p><% if (config.author){ %>
  &copy; 2023 - <%= new Date().getFullYear() %> <%= config.author %>.
  <% } else { %>
  &copy; 2023 - <%= new Date().getFullYear() %> <%= config.title %>.
  <% } %>
   Email newsletter <a href="https://substack.com/@adamouization" target="_blank">sign-up</a>.
   <a href="<%= url_for('/privacy/') %>">Privacy Policy</a>.
  </p>
