<p>
    <% if (config.author){ %>
        &copy; 2023 - <%= new Date().getFullYear() %> <%= config.author %>.
    <% } else { %>
        &copy; 2023 - <%= new Date().getFullYear() %> <%= config.title %>.
    <% } %>
    Email newsletter <a href="https://substack.com/@adamouization" target="_blank">sign-up</a>.
    <a href="<%= url_for('/privacy/') %>">Privacy Policy</a>.
    <br><br>
    My Other Websites: <a href="https://www.globeflix.app/?ref=retroblog" target="_blank">GlobeFlix</a> |
        <a href="https://www.pokedexchecklist.com/?ref=retroblog" target="_blank">Pokédex Checklist</a> |
        <a href="https://www.toonstyleai.app/?ref=retroblog" target="_blank">Toon Style AI</a> |
        <a href="https://adam.jaamour.com/?ref=f1dnfstats?ref=retroblog" target="_blank">Portfolio</a>
</p>
